body {
  font-family: 'Gotham Pro', sans-serif;
}

h1 {
  font-size: 18px;
}

header {
  display: block;

  .logo {
    display: block;
    width: 225px;
    height: 225px;
    background: url('../images/logo.png') no-repeat 100% 100%;
  }
}
